<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Design</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="CardStyle.css" rel="stylesheet">
</head>
<body>
    
            <div style="margin: 2px;" >
                <div class="card" style="width: 250px; height:auto;display: inline-block; border-radius: 10px; border-color: sienna;">
                    <img src="../images/product/product1.jpg" style="width: 180px; margin-left: auto; margin-right: auto;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">HP 15s-fq5786TU Core i3 12th Gen 15.6" FHD Laptop</h6>
                        <p style="display: block;" class="card-text">Startech</p> 
                        <s class="striked" style="margin-left: 8px;" >72,000৳ </s> 
                        <span class="badge bg-success" style="margin-left: 50px;">10% off</span>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <b class = "price">64,700৳ </b> 
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>