<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/footer.css">
    </head>
<body>
<footer >
    <hr>
    <h2 style="color: #ffffff;"> Vmart-Ventures</h2>
    <div>
        <table id="foot" style="float: right;">
                <tr class="tableheader">
                <td style="width: 250px; " >Customer Care</td>
                <td style="width: 250px;">Vmart Ventures</td>
                <td style="width: 250px;">About Us</td>
            </tr>
            
            <tr class="tablerow">
                <td style="width: 250px; " >Help Center</td>
                <td style="width: 250px;">About Vmart Ventures</td>
                <td style="width: 250px;"><a target="_blank" class="fblink" id="arafatfb" onmouseover="linkHover(arafatfb)" onmouseout="linkHoverOut(arafatfb)"  href="https://www.facebook.com/arafat.rahman.160216">Arafat Rahman
                    <!-- <img id="hoveringImg"  src="public/images/login/user.png" class="profile" > -->
                </a></td>
                
            </tr>
            <tr class="tablerow">
                <td class="tabledata" >How to Buy</td>
                <td class="tabledata" >Digital payments</td>
                <td class="tabledata" ><a id="omifb" class="fblink" onmouseover="linkHover(omifb)" onmouseout="linkHoverOut(omifb)" target="_blank" href="https://www.facebook.com/tahmidulislam.omi">Tahmidul Islam Omi</a></td>
            </tr>
            <tr class="tablerow">
                <td class="tabledata" >Terms and Conditions</td>
                <td class="tabledata" >Privacy Policy</td>
            </tr>
            <tr class="tablerow">
                <td class="tabledata" >Your Orders</td>
                <td class="tabledata" >Your Account</td>
                <td class="tabledata" ></td>
            </tr>
            
        </table>
    </div>              
        <p style="font-family:'Times New Roman', Times, serif; font-size: medium;">Contact us :</p>
        <a href="https://www.facebook.com/"><img src="../images/login/facebook.png" alt="facebook" class="icon" ></a>
        <a href="https://www.instagram.com/"><img src="../images/login/instagram.png" alt="instagram" class="icon" ></a>
        <a href="mailto: arafatrahman219@gmail.com"><img src="../images/login/gmail.png" alt="mailto Arafat" class="icon" >Arafat</a>
        <a href="mailto: tahmidulislamomi09@gmail.com"><img src="../images/login/gmail.png" alt="mailto Omi" class="icon" >Omi</a>
        <a href="https://github.com/Tahmidul-Islam-Omi/Vmart-Ventures"><img src="../images/login/github.png" alt="github" class="icon" ></a>
        <p style="font-family:'Times New Roman', Times, serif; font-size: small;">&copy2024 Vmart Ventures. All rights reserved.</p>
    </div>
</footer>
<script>
    const linkHover=(links)=>
    {
        links.style.color= "blue";
    }
    const linkHoverOut=(links)=>
    {
        links.style.color= "#a8fa05f3";
    }
</script>
</body>
</html>