<html>
<head>

    

</head>
<header>
    
</header>

<body>
    
    <div class="cont">
        
        <div class="form sign-in" id="customerForm" >
          <h2>Sign In As Customer</h2>
          <label>
            <span>Email Address</span>
            <input type="email"id="username" name="username" autofocus="true" required>
          </label>
          <label>
            <span>Password</span>
            <input type="password"  id="password" minlength="8" maxlength="32" name="password"   required>
          </label>
            <label id="wrongpassword" style=" display: none;" >
                <strong style="color: red;">Wrong email or password !</strong> 
            </label>
          <button class="submit" onclick="customer_signin()" id="Csign-in-button" type="button">Sign In</button>
          <p class="forgot-pass">Forgot Password ?</p>
          <label>
            <span>Already have an account ?</span>
            </label>
            <a href = "/signup">
              <button type="button" class="submit">Sign Up</button>
            </a>
    
          
        </div>
    
        <div class="sub-cont" id="sellerForm" >
          <div class="img">
            <div class="img-text m-up">
              <h2>Are you a seller ?</h2>
              <p>Sign in As a Seller and discover great amount of new opportunities!</p>
            </div>
            <div class="img-text m-in">
              <h2>Are you a Customer ?</h2>
              <p>We have missed you ! Please join us in this amazing journey</p>
            </div>
            <div class="img-btn">
              <span class="m-up">Seller</span>
              <span class="m-in">Customer</span>
            </div>
          </div>
          <div class="form sign-up">
            <h2>Sign In As Seller</h2>
            
            <label>
              <span>Email</span>
              <input type="email"id="username2" name="username2" autofocus="true" required>
            </label>
            <label>
              <span>Password</span>
              <input type="password"  id="password2" minlength="8" maxlength="32" name="password2"   required>
            </label>
            <label id="wrongpassword2" style=" display: none;" >
                <strong style="color: red;">Wrong email or password !</strong>
            </label>
            
            <button type="button" class="submit" id="Ssign-in-button" onclick="seller_signin()">Sign In</button>
            <label>
              <span>Already have an account ?</span>
              </label>
              <a href = "/ShopOwnerSignup">
                <button type="button" class="submit">Sign Up</button>
              </a>
            </div>
        </div>
      </div>
</body>

<script>
    document.querySelector('.img-btn').addEventListener('click', function()
	{
		document.querySelector('.cont').classList.toggle('s-signup')
	});

    async function customer_signin()
    {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var data = {username: username, password: password};
        console.log(data);
        console.log(username);
        console.log(password);
        var response = await fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        }).then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            if(data.success == true)
            {
              var wrongpassword = document.getElementById("wrongpassword");
                wrongpassword.style.display = "none";
                window.location.href = "/home/"+data.userid;
            }
            else
            {
                var wrongpassword = document.getElementById("wrongpassword");
                wrongpassword.style.display = "block";

            }
        })
    }  
    var password = document.getElementById("password");
    var password2 = document.getElementById("password2");

    password.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("Csign-in-button").click();
        }
    });

    password2.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("Ssign-in-button").click();
        }
    });


    async function seller_signin()
    {
        var username = document.getElementById("username2").value;
        var password = document.getElementById("password2").value;
        var data = {username: username, password: password};
        console.log(data);
        console.log(username);
        console.log(password);

        var form = document.createElement('form');
        form.method = 'post';
        form.action = '/seller_authorize';
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'username2';
        input.value = username;
        form.appendChild(input);
        var input2 = document.createElement('input');
        input2.type = 'hidden';
        input2.name = 'password2';
        input2.value = password;
        form.appendChild(input2);
        document.body.appendChild(form);
        form.submit();


        // var response = await fetch('/login', {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json',
        //     },
        //     body: JSON.stringify(data)
        // }).then(response => response.json())
        // .then(data => {
        //     console.log('Success:', data);
        //     if(data.success == true)
        //     {
        //       var wrongpassword2 = document.getElementById("wrongpassword2");
        //         wrongpassword2.style.display = "none";
                 

        //     }
        //     else
        //     {
        //         var wrongpassword2 = document.getElementById("wrongpassword2");
        //         wrongpassword2.style.display = "block";

        //     }
        // })
    }


</script>


<style>

   

    

    *, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:  url("../images/home/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

  font-family: 'Nunito', sans-serif;
}

i button{
  border:none;
  outline: none;
  background: none;
}
input{
  
  border:none;
  outline: none;
  background: none;
  font-size: 0.5rem;
}

.cont{
  overflow: hidden;
  position: relative;
  display: block;
  width: 900px;
  height: 550px;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.form{
  position: relative;
  width: 640px;
  height: 100%;
  padding: 50px 30px;
  -webkit-transition:-webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

h2{
  width: 100%;
  font-size: 30px;
  text-align: center;
}

label{
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}

label span{
  font-size: 14px;
  font-weight: 600;
  color: #505f75;
  text-transform: uppercase;
}

input{
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(109, 93, 93, 0.4);
  text-align: center;
  font-family: 'Nunito', sans-serif; 
}

button{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.submit{
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
}

.submit:hover{
  background: -webkit-linear-gradient(left, #b224ef, #7579ff);
}

.forgot-pass{
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #0c0101;
  cursor: pointer;
}

.forgot-pass:hover{
  color: red;
}

.social-media{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.social-media ul{
  list-style: none;
}

.social-media ul li{
  display: inline-block;
  cursor: pointer;
  margin: 25px 15px;
}

.social-media img{
  width: 40px;
  height: 40px;
}

.sub-cont{
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
}

.cont.s-signup .sub-cont{
  -webkit-transform:translate3d(-640px, 0, 0);
          transform:translate3d(-640px, 0, 0);
}

.img{
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img:before{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url(https://raw.githubusercontent.com/abo-elnoUr/public-assets/master/bg_login.jpg);
  background-size: cover;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.cont.s-signup .img:before{
  -webkit-transform:translate3d(640px, 0, 0);
          transform:translate3d(640px, 0, 0);
}

.img-text{
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  -webkit-transition:-webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2{
  margin-bottom: 10px;
  font-weight: normal;
}

.img-text p{
  font-size: 14px;
  line-height: 1.5;
}

.cont.s-signup .img-text.m-up{
  -webkit-transform:translateX(520px);
          transform:translateX(520px);
}

.img-text.m-in{
  -webkit-transform:translateX(-520px);
          transform:translateX(-520px);
}

.cont.s-signup .img-text.m-in{
  -webkit-transform:translateX(0);
          transform:translateX(0);
}


.sign-in{
  padding-top: 65px;
  -webkit-transition-timing-function:ease-out;
          transition-timing-function:ease-out;
}

.cont.s-signup .sign-in{
  -webkit-transition-timing-function:ease-in-out;
          transition-timing-function:ease-in-out;
  -webkit-transition-duration:1.2s;
          transition-duration:1.2s; 
  -webkit-transform:translate3d(640px, 0, 0);
          transform:translate3d(640px, 0, 0);
}

.img-btn{
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.img-btn:after{
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}

.img-btn span{
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack:center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition:-webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;;
}

.img-btn span.m-in{
  -webkit-transform:translateY(-72px);
          transform:translateY(-72px);
}

.cont.s-signup .img-btn span.m-in{
  -webkit-transform:translateY(0);
          transform:translateY(0);
}

.cont.s-signup .img-btn span.m-up{
  -webkit-transform:translateY(72px);
          transform:translateY(72px);
}

.sign-up{
  -webkit-transform:translate3d(-900px, 0, 0);
          transform:translate3d(-900px, 0, 0);
}

.cont.s-signup .sign-up{
  -webkit-transform:translate3d(0, 0, 0);
          transform:translate3d(0, 0, 0);
}
</style>
</html>