<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #212529;">
    <style>
    .toast-container {
        margin-right: 0px;
        background-color: #212529;
        color: #d2d2d4;
        width: 300px;
        max-width: 400px;
        border-radius: 8px;
        border: 1px solid #b3babf;
        position: fixed;
        padding: 10px;
        z-index: 1;
        bottom: 3px;
        right: 3px;
        font-size: 17px;
        
    }
    .toast-header {
        display: block;
        color: #d2d2d4;
        border-radius: 2px;
        
        
        border-bottom-color: #cfd3d6 ;
        font-size: 17px;
    }
    .toast-body {
        display: block;
        color: #d2d2d4;
        border-radius: 2px;
        font-size: 15px;
        border-top-right-radius: 0px ;
        border-top-left-radius: 0px;
        border-top: 1px solid #b3babf;
        font-family: Arial, Helvetica, sans-serif;
    }
    .toast {
        display: block;
        color: #d2d2d4;
        border-radius: 2px;
    }
    .close {
        color: #c9c9d3;
        font-size: 17px;
    }
    .T-btn-close {
        color: hsl(240, 14%, 85%);
        font-size: 17px;
        background-color: #212529;
        border-radius: 10px;
        /* right: 2px;  */
        float: right;
        
    }
    .T-btn-close:hover {
        opacity: 80%;
        color: rgb(255, 255, 255);
        background-color: #2f3132;
        border-radius: 10px;
        right: 2px; 
        margin-left: auto ;
        
    }
    #toast-link {
        text-decoration: none;
        color: #d2d2d4;
    }
    </style>
    <button onclick="ShowToast()">Show Toast</button>
    <a href="<%= notification_link %>" id="toast-link">
    <div class="toast-container" id="toast-container">
        <div class="toast" id="toast">
            <div class="toast-header">
                <strong class="me-auto" style="float: left;"><%= Header_message %></strong>
                
            </a>
            <button type="button" class="T-btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="closeToast()">
                <span aria-hidden="true">&times;</span>
            </button>
            <a href="<%= notification_link %>" id="toast-link">
                    <small style=" float: right ; padding-right: 5px ; font-size:x-small;">Just now</small>
                    <br>
            </div><br>
            <div class="toast-body">
                <%= Body_message %>
            </div>
        </div>
        <script>
            function closeToast() {
                document.getElementById("toast-container").style.display = "none";
                
            }
            function ShowToast() {

                document.getElementById("toast-container").style.display = "none";
                setTimeout(function() {
                    
                    document.getElementById("toast-container").style.display = "block";
                }, 150);
                setTimeout(function() {
                    
                    document.getElementById("toast-container").style.display = "none";
                }, 10000);
            }

        </script>
    </div>
    </a>
</body>
</html>