

.whole{
    background-color: #5a336b;
    background-image: url("../images/login/homeBG.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
    background-position: center;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #5a336b;
    margin: 0 0;
    padding: 0;
}
::selection {
    background-color: #d1ff04;
    color: #2b01ff;
}
h1 {
    color: rgb(96, 232, 51);
    font-weight: bold;
    text-align: center  ;
    text-rendering: auto;
    
}
input::placeholder {
    font-weight: normal;
    opacity: 0.8;
    color: #fff;
  }
.icon {
    max-width: 25px;
    margin: 0 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
  }
a{
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    height:auto;;
    background-color: #c5426c;
    border-radius: 30px;
    box-shadow:3px 3px 10px rgba(0, 0, 0, 0.1);
    visibility:visible;
    /* animation: glowing 10s ease-in-out infinite ; */
    /* animation-iteration-count: infinite; */

}

h2 {
    text-align: center;
    text-decoration: overline underline;
}

#InBox{
    width: 100%;
    height:38px;
    border-radius: 50px;
    background-color: #c5426c;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    /* border-bottom: 1px solid #fff; */
}
#InBox:hover{
    border: 1px solid #000;
    /* margin-top: 3px; */

}
#InBox:focus{
    border: 1px solid #000;

}

input[type="email"],
input[type="password"],input[type="text"] {
    width: 78%;
    padding-left: 0;
    padding-right: 0;
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    background-color: #c5426c;
    /* border-bottom: 1px solid #fff; */
    border: none;
    outline: none;
    margin: 5px 0;
    position: relative;
    /* box-sizing: border-box; */
}
/* input:focus{

} */

#Customer
{
    border-radius: 30px;
    width: 120px;
    position: relative;
    left: 15px;
}
#buttontable
{
    width: 100%; 
    border: 1px ;
    border-style:solid;
    border-radius: 10px ;
    border-top: none    ;
    border-left: none;
    border-right: none;
    border-color: #fff;
    margin-bottom: 10px;

}
#Seller
{
    border-radius: 30px;
    width: 120px;
    position: relative;
    left: 15px;
}

button {
    background-color: #4CAF50;
    /* background-color: grey; */
    color: white;
    padding: 10px 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin : 8px 0;
    border: none;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75),-3px -3px 5px 0px rgba(0,0,0,0.75),3px -3px 5px 0px rgba(0,0,0,0.75),-3px 3px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    border-radius: 50px;
    width: 40%;
    
    margin-left: 23px;
    margin-right: auto; 
    
}

button:hover {
    opacity: 0.8;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    padding: 0;
}
.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-bottom: auto;
    padding: 0;

}
hr{
    border: 1px solid #eab676;
    margin-bottom: 0;;
}
#button-container{
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: #5a336b;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* animation: glowing 5s ease-in-out infinite ; */
}

.tableheader
{
    color: #ddff01;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    text-align: center;
    margin-bottom: 10px;
}
.tablerow
{
    color: orange;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:350;
    text-align: center;
    margin-bottom: 10px;
}
.tabledata{
    width: 250px;
    text-decoration: none;
}

.fblink
{
    color: #a8fa05f3;
    font-size: 10px;
    font-family:cursive;
    font-weight:350;
    text-align: center;
    font-style: normal;
    text-decoration: none   ;
}
#showInfo,#showInfo2
{
    padding-bottom: 10px; 
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode',
    Verdana, sans-serif;
}
.profile
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;

}
#hoveringImg{
    display: none; 
    position: fixed;
    top: 500px;
    right: 95px;
}
@keyframes glowing {
    0% { background-color: hsl(100, 1%, 51%); box-shadow: 1px 1px 3px  hsla(196, 60%, 44%, 0.984); }
    25% { background-color:  hsl(5, 58%, 53%); box-shadow: 1px 1px 4px  hsl(305, 31%, 33%); }
    50% { background-color:  hsl(295, 96%, 47%); box-shadow: 1px 1px 3px  hsl(351, 70%, 45%); }
    75% { background-color:  hsl(198, 97%, 65%); box-shadow: 1px 1px 3px  hsl(254, 100%, 50%); }
    100% { background-color:  hsl(109, 34%, 59%); box-shadow: 0 0 3px  hsl(61, 98%, 49%); }
}